@page "/"

@using Smart.Blazor

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Button OnClick="@Clicked">Click Me</Button>


<Grid @ref="grid" DataSource="@data" Filtering="@GridFiltering">
  <Columns>
    <Column DataField="Id" Visible="false" AllowEdit="false" />
    <Column DataField="Name" Label="Name" AllowEdit="true" />
    <Column DataField="BoolValue " Label="BoolValue" AllowEdit="true" DataType="boolean" Editor="@checkBoxEditor" Template="@checkBoxEditor"/>
  </Columns>
</Grid>

<p>@shownNumber</p>


@code
{
  Grid grid;
  GridFiltering GridFiltering = new() { Enabled = true };
  string checkBoxEditor = "checkBox";

  string shownNumber = "Button not clicked yet";


  List<ClassName> data = new List<ClassName>() {
    new ClassName() { Id = Guid.NewGuid(), BoolValue = false, Name = "test1" },
    new ClassName() { Id = Guid.NewGuid(), BoolValue = false, Name = "test2" },
    new ClassName() { Id = Guid.NewGuid(), BoolValue = false, Name = "test3" },
    new ClassName() { Id = Guid.NewGuid(), BoolValue = false, Name = "test4" },
    new ClassName() { Id = Guid.NewGuid(), BoolValue = true, Name = "test5" },
    new ClassName() { Id = Guid.NewGuid(), BoolValue = true, Name = "test6" },
    new ClassName() { Id = Guid.NewGuid(), BoolValue = true, Name = "test7" } };

  public async void Clicked()
  {
    var rows = await grid.GetVisibleRows();
    shownNumber = rows.Count().ToString();
  }
}